<div class="full-screen">
  <div class="loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
    <div class="text">PLEASE WAIT</div>
    <div class="text small mt-1">now system loading my resume</div>
  </div>
</div>
