.no-scroll
    overflow: hidden !important
    min-height: 100vh
    width: 100%
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

#particles-js
    position: absolute 
    width: 100%
    height: 100%

.bg-slate
    background: #222f3e
    min-height: 100vh
