/* You can add global styles to this file, and also import other style files */
.custom-scrollbar
  --scrollbar-color: transparent
  --scrollbar-container-color: transparent
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2)
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3)
  --scrollbar-border-radius: 4px
  --scrollbar-size: 6px
  --scrollbar-padding: 8px
  --scroll-view-margin: 0
  --scroll-view-color: transparent

@-webkit-keyframes sk-rotateplane
  0%
  -webkit-transform: perspective(120px)

  50%
  -webkit-transform: perspective(120px) rotateY(180deg)

  100%
  -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)

@keyframes sk-rotateplane
  0%
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)

  50%
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)

  100%
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
